boto3
catboost
joblib==1.5.2
matplotlib==3.9.2
mlflow
neuralprophet==1.0.0rc10
numpy==1.26.4
pandas==2.3.3
psycopg==3.2.11
psycopg-binary==3.2.11
psycopg2-binary
pytorch-forecasting
pytorch-lightning==2.4.0
python-dotenv==1.1.1
rich==14.2.0
scikit-learn==1.5.2
statsmodels==0.14.5
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
typer==0.20.0
xgboost==2.1.2
